@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Aeonik-Regular";
    src: local("Aeonik-Regular"),
    url('./fonts/Aeonik-Regular.ttf'), format("truetype");
}

@font-face {
    font-family: "Aeonik-Medium";
    src: local("Aeonik-Medium"),
    url('./fonts/Aeonik-Medium.ttf'), format("truetype");
}

@font-face {
    font-family: "Aeonik-Semibold";
    src: local("Aeonik-Semibold"),
    url('./fonts/Aeonik-Bold.ttf'), format("truetype");
}